doctype html 
html 
    head 
        title Form data 
        meta(charset='UTF-8') 
    body 
        <table style="border:1px solid black">
        <tbody>
            <tr style="border:1px solid black">
                <td style="border:1px solid black">Fname</td>
                <td style="border:1px solid black">Lname</td>
                <td style="border:1px solid black">Email</td>
                <td style="border:1px solid black">MobileNo</td>
                <td style="border:1px solid black">DOB</td>
                <td style="border:1px solid black">Gender</td>
                <td style="border:1px solid black">Address</td>
                <td style="border:1px solid black">institue</td>
                <td style="border:1px solid black">Semester</td>
            </tr>
            <tr style="border:1px solid black">
                <td style="border:1px solid black">#{data.fname}</td>
                <td style="border:1px solid black">#{data.lname}</td>
                <td style="border:1px solid black">#{data.mail}</td>
                <td style="border:1px solid black">#{data.no}</td>
                <td style="border:1px solid black">#{data.dob}</td>
                <td style="border:1px solid black">#{data.gender}</td>
                <td style="border:1px solid black">#{data.add}</td>
                <td style="border:1px solid black">#{data.ins}</td>
                <td style="border:1px solid black">#{data.sem}</td>
            </tr>
        </tbody>
    </table>

